@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

:root {
    --green-500: #33df7a;
    --green-900: #89d8a9;
    --grey-100-opacity-0: #20222500;
    --grey-100: #202225;
    --grey-200: #292b2f;
    --grey-300: #2f3136;
    --grey-400: #36393f;
    --grey-500: #40444b;
    --grey-600: #72767d;
    --grey-700: #a3a1a7;
    --grey-800: #d0d1d3;
    --grey-900: #eeeeee;
}

::selection {
    background-color: var(--green-500);
    color: var(--grey-900);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article {
    background: var(--grey-300);
    border: 1px solid var(--green-900);
    border-radius: 8px;
    box-shadow: 0 0 16px black;
    padding: 16px 24px;
}

body {
    background: var(--grey-100);
    color: var(--green-500);
    font-family: 'Reenie Beanie';
    text-shadow: 1px 1px 2px black;
}

footer {
    align-items: center;
    color: var(--green-900);
    display: flex;
    flex-direction: column;
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
}

h1 {
    color: var(--green-500);
    font-size: 3.5em;
}

h2 {
    color: var(--green-500);
    font-size: 2em;
    margin-bottom: 16px;
}

header {
    background: var(--grey-300);
    border-bottom: 1px solid var(--green-900);
    box-shadow: 0 2px 32px black;
    color: var(--green-900);
    display: flex;
    gap: 24px;
    justify-content: center;
    min-width: 492px;
    padding: 16px;
}

main {
    display: grid;
    font-family: "Varela Round";
    gap: 32px;
    margin: 32px;
}

section {
    display: flex;
    gap: 24px;
    margin: 16px -8px 0 -8px;
    padding: 8px;
}

.link:hover {
    cursor: pointer;
    background: var(--grey-600);
    border-radius: 40px;
}

section img {
    border: 2px solid var(--grey-800);
    border-radius: 50%;
    box-shadow: 0 0 8px var(--grey-100);
    height: 64px;
}

.footer-header {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    font-size: 6vw;
}

.footer-sizzle {
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: center;
}

.footer-sizzle img {
    filter: drop-shadow(1px 1px 2px black);
    height: 10vw;
}

.footer-sizzle img:last-child {
    transform: scaleX(-1);
}

.footer-sizzle p {
    word-spacing: -0.15em;
    font-size: 10vw;
    font-weight: bold;
    color: var(--green-500);
}

.header-img {
    border: 1px solid var(--grey-100);
    border-radius: 50%;
    box-shadow: 1px 1px 16px black;
    margin: auto 0;
}

.header-text-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-subtitle {
    font-size: 1.6em;
    margin: -12px 0 8px 0;
}

.header-text {
    font-size: 1.5em;
    margin-top: 8px;
}

.hr {
    background-image: linear-gradient(90deg, var(--grey-200) 0%, var(--green-900) 10%, var(--green-900) 90%, var(--grey-200) 100%);
    height: 1px;
    min-width: 256px;
    width: 100%;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subsection-header {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.subsection-body {
    color: var(--green-900);
    font-size: 1em;
}

@media (min-width: 65em) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-header {
        align-items: center;
        display: flex;
        font-size: 0.5em;
        gap: 24px;
        justify-content: center;
    }

    .footer-sizzle {
        gap: 1.5em;
    }

    .footer-sizzle img {
        height: 2em;
    }

    .footer-sizzle p {
        word-spacing: -0.15em;
        font-size: 3em;
        font-weight: bold;
        color: var(--green-500);
    }
}

@media (min-width: 90em) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }
}